body {
    background-image: url(./../img/img_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 5px;
}

#exportar-pdf {
    border: none;
    border-radius: 2px;
    outline: none;
    width: 35px;
    height: 35px;
}

#exportar-pdf i {
    background: #f00;
    font-size: 25px;
}
